h1 {
    font-size: xx-large;
}

h3 {
    font-family: 'Open Sans', sans-serif;
}

.information h2 {
    color: #F5F3F5;
}

.event p {
    font-family: 'Bellefair', serif;
    font-size: larger;
}

.event a {
    text-decoration: underline;
    color: #E580A4;
}

.container-events {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.event {
    max-width: 80%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
   
}

.reception-event {
    background-image: url('../images/places/walker.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 275px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.wedding-event {
    background-image: url('../images/places/church.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 275px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.information {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #1F3B2C;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Open Sans', sans-serif;
}


@media (min-width: 768px) {
    .container-events {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .event {
        width: 50%;
        margin: 0 20px;
        height: 461px;
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .event {
        margin-bottom: 20px;
        width: 80%;
    }
}