h1 {
    font-size: xx-large;
}


.container-events {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.event {
    max-width: 80%;
}

.pic-church {
    max-width: 75%;
}

.pic-walker {
    max-width: 100%;
}


@media (min-width: 500px) {
    .pic-walker {
        max-width: 80%;
    }
}

@media (min-width: 768px) {
    .container-events {
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .pic-walker {
        width: 400px;
    }
    
}