.container-party {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.party {
    align-content: center;
    
}

li {
    list-style-type: none;
}

@media (min-width: 768px) {
    .container-party {
        flex-direction: row;
        justify-content: space-evenly;
    }
}