.story-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.story-photo {
    max-width: 200px;
}

.story-details {
    text-align: center; 
    max-width: 50%;
}

.story-begin, .story-between {
    display: flex;
    flex-direction: column;
}

.story-date, .story-engagement {
    display: flex;
    flex-direction: column-reverse;
}

.story-block {
    align-items: center;
    justify-content: space-evenly;
}

.story-photo {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
    .story-begin, .story-between {
        display: flex;
        flex-direction: row;
    }
    
    .story-date, .story-engagement {
        display: flex;
        flex-direction: row;
    }

  
    
}