.story-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.story-photo {
    max-width: 200px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

.story-details p {
    font-family: 'Bellefair', serif;
    font-size: large;
}

.story-details {
    text-align: start; 
    max-width: 90%;
    border-bottom: 1px solid #588068;
    padding-bottom: 25px;
}

.story-begin, .story-between {
    display: flex;
    flex-direction: column;
}

.story-date, .story-engagement {
    display: flex;
    flex-direction: column-reverse;
}

.story-block {
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.story-photo {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.photo-container {
    padding-bottom: 25px;
}

@media (min-width: 768px) {
    .story-begin, .story-between {
        display: flex;
        flex-direction: row;
    }
    
    .story-date, .story-engagement {
        display: flex;
        flex-direction: row;
    }

    .story-details {
        text-align: start; 
        max-width: 50%;
        border-bottom: none;
    }

    
    h2 {
        text-align: center;
    }
    
}