.reg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reg {
    width: 100%;
    max-width: 460px;
    display: block;
    
}

.img-target, .img-cb {
    width: 100%;
    align-items: center;
}



@media (min-width: 945px) {
    .reg-container {
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .reg {
        width: 50%;
    }
}