

.site-header {
    background-color: white;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    transition: all .5s ease;
}

.navbar-brand {
    font-size: 22px;
    transition: all .5s ease;
    width: auto;
    font-family: 'Parisienne', cursive;
    color: #588068;
}

.navbar-nav {
    text-align: center;
    margin-left: -45px;
}

.nav-item {
    text-decoration: none;
    display: inline;
    padding: 0 20px;
    color: #1F3B2C;
}

.nav-item > .active {
    border-bottom: 2px solid #E580A4;
}

.nav-link {
    text-decoration: none;
    color: black;
    padding: 20px;
}

.nav-item:hover {
    cursor: pointer;
}

.navbar-collapse {
    display: none;
}

@media (min-width: 768px) {
    

   
    .navbar-brand {
        height: 65px;
        font-size: 50px;
        width: 100%;
        text-align: center;
    }

    .navbar-collapse {
        display: initial;
    }
}

@media (max-width: 767px) {
    #header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        height: 50px;
    }

    .navbar-brand {
        font-size: 33px;
        padding-right: 25px;
    }

    .hamburger {
        width: 50px;
    }
}