header {
    display: block;
}

.site-header {
    background-color: white;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    transition: all .5s ease;
}

.navbar-brand {
    font-size: 22px;
    overflow: hidden;
    transition: all .5s ease;
    width: auto;
    font-family: 'Parisienne', cursive;
}

.navbar-nav {
    text-align: center;
    margin-left: -45px;
}

.nav-item {
    text-decoration: none;
    display: inline;
}

.nav-link {
    text-decoration: none;
    color: black;
    padding: 20px;
}

.navbar-collapse {
    display: none;
}

@media (min-width: 768px) {
    

    .navbar-toggle {
        display: none;

    }

    .navbar-brand {
        height: 65px;
        font-size: 50px;
        width: 100%;
        text-align: center;
    }

    .navbar-collapse {
        display: initial;
    }
}
