* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  padding-bottom: 25px;
  padding-top: 25px;
  font-size: 40px;
}

section {
  display: block;
}

